/* Header */
.logo {
  height: 22px;
  font-size: 3rem;
  font-weight: 600;
  color: #333;
}

/* Mobile nav */
.btn-mobile-nav {
  border: none;
  cursor: pointer;
  background-color: transparent;
  display: none;
}
.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}
.close {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem 4.8rem;
  background-color: #fdf2e9;
  height: 9.6rem;
}

/* Nav */
.main-nav-list {
  list-style: none;
  display: flex;
  gap: 4.8rem;
  align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  transition: all 0.3s;
  color: #333;
  font-weight: 500;
}

.main-nav-link:active,
.main-nav-link:hover {
  color: #cf711f;
  box-shadow: 0 0 0 10px #f3bf91;
}

.main-nav-link.nav-cta:link,
.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
}

/* Hero Section */
.section-hero {
  background-color: #fdf2e9;
  /* padding: 4.8rem 0; */
}
.hero {
  align-items: center;
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.hero-img {
  width: 100%;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 6.4rem;
}

.delivered-meals {
  display: flex;
  margin-top: 8rem;
  align-items: center;
  gap: 1.6rem;
}

.delivered-imgs {
  display: flex;
}
.delivered-faces {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}
.delivered-imgs img:last-child {
  margin-right: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}
.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}

/* How it works */
.section-how {
  padding: 9.6rem 0;
}

.step-text-box {
  align-self: center;
}
.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}
.step-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* .step-img-box::before {
  content: "";
  position: absolute;
  display: block;
  padding-bottom: 60%;
  z-index: -2;
  border-radius: 50%;
  width: 80%;
  height: 40%;
  background-color: #fdf2e9;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
/* .step-img-box::after {
  content: "";
  position: absolute;
  display: block;
  padding-bottom: 45%;
  z-index: -1;
  border-radius: 50%;
  width: 60%;
  height: 30%;
  background-color: #fae5d3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.step-img {
  /* display: none; */
  width: 70%;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}
/* section featured */
.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}
.featured-heading {
  color: #888;
  text-align: center;
  margin-bottom: 2.4rem;
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: 0.75px;
}
.logos {
  display: flex;
  justify-content: space-around;
}
.logos img {
  height: 3.2rem;
  opacity: 50%;
  filter: brightness(0);
}

/* meals */
.section-meals {
  padding: 9.6rem 0;
}
.meal {
  border-radius: 11px;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 7%);
  transition: all 0.3s;
  margin-bottom: 4.8rem;
}

.meal:hover {
  transform: translate(0, -15px);
}

.meal-img {
  width: 100%;
  border-top-right-radius: 11px;
  border-top-left-radius: 11px;
}

.meal-info {
  padding: 2rem;
}
.meal-tags {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1.2rem;
  color: #333;
}
.tag-vegetarian,
.tag-vegan,
.tag-paleo {
  font-weight: 700;
  font-size: 1.2rem;
  padding: 0.4rem 0.8rem;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tag-vegetarian {
  background-color: #51cf66;
}
.tag-vegan {
  background-color: #94d82d;
}
.tag-paleo {
  background-color: #ffd43b;
}

.meals-title {
  font-weight: 700;
  font-size: 2.2rem;
  color: #333;
  margin-bottom: 3.2rem;
}

.meals-details {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.meal-detail {
  list-style: none;
  font-size: 1.8rem;

  display: flex;
  align-items: center;
  gap: 1.2rem;
}

ion-icon {
  color: #e67e22;
  height: 2.4rem;
  width: 2.4rem;
}

.list h3 {
  font-size: 3rem;
  color: #333;
  margin-bottom: 3.2rem;
}

.diet-list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.diet {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-size: 1.8rem;
}

.icon-list {
  height: 3rem;
  width: 3rem;
  color: #e67e22;
}

.recipes:link,
.recipes:visited {
  display: block;
  color: #e67e22;
  font-size: 1.8rem;
}

.recipes:hover,
.recipes:active {
  text-decoration: none;
  color: #cf711f;
}

/* TESTIMONIAL section */
.testimonials-section {
  padding: 1.2rem 0;
  background-color: #fdf2e9;
}
.testimonial-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 0 0 9.6rem;
  column-gap: 9.6rem;
}
.testimonials-content {
  align-self: center;
}

.testimonials-imgs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding-right: 1.6rem;
  align-content: center;
}

.testimonial-img {
  width: 150%;
  height: 100%;
  transition: all 0.3s;
}
.testimonial-img:hover {
  transform: scale(1.1);
}

figure {
  overflow: hidden;
}

.client-img {
  border-radius: 50%;
  width: 6.4rem;
  margin-bottom: 1.2rem;
}
.feedbacks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6.4rem;
}
.feedback-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}
.client-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}
/* pricing + features section */

.pricing-section {
  padding: 9.6rem 0;
}

.pricing-content {
  margin-bottom: 4.8rem !important;
}

.starter,
.complete {
  width: 75%;
  padding: 4.6rem;
  border-radius: 11px;
}

.starter {
  justify-self: end;
  border: 2px #fdf2e9 solid;
}

.complete {
  background-color: #fdf2e9;
  position: relative;
  overflow: hidden;
}

.complete::after {
  content: "BEST VALUE";
  text-transform: uppercase;
  position: absolute;
  font-weight: 700;
  font-size: 1.4rem;
  color: #333;
  background-color: #ffd43b;
  padding: 0.8rem 8rem;
  right: -18%;
  top: 6%;
  transform: rotate(45deg);
}

.heading-plan {
  text-align: center;
  margin-bottom: 4.8rem;
}

.plan-name {
  color: #cf711f;
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 3.2rem;
}

.plan-price {
  color: #333;
  font-weight: 700;
  font-size: 6.2rem;
  margin-bottom: 2.4rem;
}

.dollar {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}

.plan-text {
  font-size: 1.6rem;
  color: #6f6f6f;
  line-height: 1.2;
}

.plan-features {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-bottom: 4.8rem;
  line-height: 1.2;
}

.plan-features li {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.8rem;
}

.sign-up {
  text-align: center;
}

.price-features {
  font-size: 1.6rem;
  margin-bottom: 9.6rem;
}
/* features-section */
.feature-icon {
  color: #e67e22;
  display: inline-block;
  background-color: #fdf2e9;
  margin-bottom: 3.2rem;
  padding: 1.6rem;
  border-radius: 50%;
}

.header-feature {
  font-size: 2.2rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 3.2rem;
}

.text-feature {
  font-size: 1.8rem;
  line-height: 1.6;
}

/* cta section */

.cta {
  padding: 4.8rem 1.6rem 12.8rem 1.6rem;
}

.cta-inner {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #e67e22;
  padding-right: 0 !important ;
  color: #45260a !important;
  max-width: 120rem;
  margin: 0 auto;
  overflow: hidden;
}

.cta-inner .heading-secondary {
  margin-bottom: 3.2rem;
  color: #45260a !important;
}
.cta-img {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 150, 76, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url(../img/gallery/formimg.avif);
  background-size: cover;
  background-position: center;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.form {
  padding: 6.4rem;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.input input {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;

  color: #000;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.input select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  color: #333;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.input input:focus,
.input select:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

.input label {
  font-size: 1.6rem;
  font-weight: 500;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-btn {
  align-self: end;
  color: #fdf2e9;
  background-color: #45260a;
  border: none;
  cursor: pointer;
}

.cta-btn:hover {
  background-color: #fff;
  color: #333;
}
/* footer */
.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}

.grid-footer {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.footer-col-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}
.contact {
  line-height: 1.6;
}
.address {
  color: #767676;
  font-size: 1.6rem;
  margin-bottom: 2.4rem;
}

.footer a:link,
.footer a:visited {
  text-decoration: none;
  color: #767676;
  font-size: 1.6rem;
}

.col-list {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.logo-footer {
  margin-bottom: 4rem;
}

.social-logos {
  display: flex;
  gap: 2.4rem;
}

.social-logos ion-icon {
  filter: brightness(0);
  opacity: 50%;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.cpr-footer {
  font-size: 1.4rem;
  color: #767676;
  margin-top: auto;
  line-height: 1.6;
}
